@import '../../../style/less/index';

.new-appointment {
  display: flex;
  flex-direction: column;
  padding: 2rem 5rem 0 5rem;
  min-width: 100vw;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: #ffffff;
  overflow: hidden;
}

.header-appointment {
  height: 80px;
  width: 100%;
  display: flex;
  padding: 0 24px;
  justify-content: center;
  gap: 6rem;
  align-items: center;
}
.logo {
  width: 10rem;
}
.title-appointment {
  font-size: 2rem;
  font-weight: 600;
}
.language-selector {
  width: auto;
}
.content-appointment {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
