@import '../../../style/less/index';

.modalManageAccountForm {
  width: 100%;
  display: flex;
  align-self: stretch;
  position: relative;

  .media-breakpoint-down(@md,
  {
    flex-grow: 1;
  });

  &__form {
    display: flex;
    flex-direction: column;
    padding: 24px;
    flex: 1 0 0;

    .media-breakpoint-down(@md,
    {
      padding: 12px;
    });

    &__inputs {
      display: flex;
      flex-direction: column;
      flex: 1 0 0;
      gap: 12px;

      .media-breakpoint-down(@md,
      {
        padding-bottom: 12px;
      });
    }
  }
}
