/* Reset:
  ========================================================================== */
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0;
}
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
html,
body {
  box-sizing: border-box;
  font-size: 16px;
  background-color: #f5f5f5;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
:focus {
  outline: 0;
}
img,
audio,
video {
  max-width: 100%;
  height: auto;
}
iframe {
  border: 0;
}
textarea {
  resize: none;
  /*remove the resize handle on the bottom right*/
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
input,
textarea,
select,
button {
  outline: none;
  border: none;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #000000;
  transition: background-color 5000s ease-in-out 0s;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
  text-align: left;
}
/* Responsive media queries:
 ========================================================================== */
@font-face {
  font-family: 'Lato700';
  /*Can be any text*/
  src: local('Inter-Bold'), url('/public/fonts/Lato/Lato-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato400';
  /*Can be any text*/
  src: local('Inter-Regular'), url('/public/fonts/Lato/Lato-Regular.ttf') format('truetype');
}
body {
  width: 100vw;
  height: 100vh;
}
body * {
  font-family: Lato400, sans-serif;
}
.modalSettings {
  width: 100%;
  height: 60vh;
  display: flex;
  align-self: stretch;
  position: relative;
  flex-direction: row;
}
@media screen and (max-width: calc(768px - 1px)) {
  .modalSettings {
    flex-grow: 1;
  }
}
.settingsTitle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px 24px 24px 24px;
}
.content {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 0;
}
.bottomFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  padding: 0;
}
.selectedSetting {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.ant-menu-inline {
  border-right: none !important;
}
.ant-menu-item,
.ant-dropdown-menu-item,
.ant-list-item {
  width: auto !important;
  margin-left: 24px !important;
  text-align: left !important;
  padding-left: 24px !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}
.ant-menu-submenu-title {
  margin-bottom: 0 !important;
}
.SearchInput {
  width: 100%;
  padding: 0.5rem 0.5rem 0 0.5rem;
}
.defaultRender {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  font-size: large;
}
.defaultRender img {
  width: 45%;
}
/*# sourceMappingURL=index.css.map */
