@import '../../style/less/utils/_variables';

.auth-page {
  width: 100vw;
  min-height: 100vh;
  .flex-column();
  padding: 50px 0;
  align-items: center;
  gap: 50px;
  background: @blue-200;

  .auth-page__logo {
    display: flex;
    justify-content: center;
    width: 20em;
  }

  .media-breakpoint-down(@sm,
  {
    padding: 24px 0;
    gap: 24px;
  });

  &__logo {
    .media-breakpoint-down(@sm,
    {
      width: 70px;
    });
  }
}
.login-card {
  width: 540px;
  .flex-column();
  padding: 32px 24px 0 24px;
  justify-content: center;
  gap: 24px;
  .ant-card-body {
    .flex-column();
    gap: 1em;
  }
}
.login-buttons {
  .flex-column();
  gap: 5px;
}
