@import '../../style/less/index';
@import '../../style/less/index';

.auth-page {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  padding: 50px 0;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  background: @blue-200;

  .auth-page__logo {
    display: flex;
    justify-content: center;
    width: 20em;
  }

  .media-breakpoint-down(@sm,
  {
    padding: 24px 0;
    gap: 24px;
  });

  &__logo {
    .media-breakpoint-down(@sm,
    {
      width: 70px;
    });
  }
}
