@import '../../style/less/utils/_variables';

.selector-root {
  .flex-row();
  width: 100%;
  border-color: @border-default;
  > :first-child {
    width: 100%;
  }
}
.ant-select:hover .ant-select-selector {
  border: 1px solid @border-default !important;
}
