@import '../../style/less/index';

.Dashboard {
  min-width: 100vw;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: #ffffff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.Panel {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  gap: 1.5rem;
  background-color: #f0f2f5;
  flex-wrap: nowrap;
  overflow: hidden;
  flex-grow: 1;
}
.left-panel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: auto;
  overflow: hidden;
  width: 400px;
  flex-shrink: 0;
}
.right-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
}
.card {
  width: 400px;
  border: 1px solid #d9d9d9;
  border-radius: 0;
}
.SiteSelectorRow {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 1.5rem;
}
.ant-picker-calendar * .ant-picker-cell {
  text-align: center !important;
  vertical-align: middle !important;
}

.ant-picker-calendar * .ant-picker-cell-inner {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 100% !important;
}

.ant-picker-calendar .ant-picker-calendar-header {
  justify-content: center;
}

.ant-picker-calendar .ant-picker-calendar-header th,
.ant-picker-calendar .ant-picker-content th {
  text-align: center !important;
  vertical-align: middle !important;
}

.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  border: 1px solid @red-font !important;
}

.ant-radio-button-wrapper-checked {
  color: @red-font !important;
  border: 1px solid @red-font !important;
}
.ant-picker-cell:not(.ant-picker-cell-selected):hover .ant-picker-cell-inner {
  background: @red-background !important;
  color: black !important;
  .ant-picker-calendar-date-value {
    background: transparent !important;
  }
}
.ant-picker-cell-selected .ant-picker-cell-inner {
  background-color: @red-font !important;
  color: white;
}
.ant-select:hover > * {
  border: none !important;
}
.fc-toolbar-title {
  position: relative !important;
}
.fc-myCustomButton-button {
  position: relative !important;
}
.fc-today-button {
  position: relative !important;
}
.fc .fc-view-harness-active > .fc-view {
  background: #ffffff !important;
}
.table-add-entry {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  padding: 1rem;
  background-color: #fafafa;
}
.ant-calendar-wrapper > :first-child {
  border-radius: 0;
}
.ant-calendar-wrapper {
  width: 400px;
  border: 1px solid #d9d9d9;

  > :first-child {
    border-radius: 0;
  }
}
.selector-spin {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.itemselectors-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
  overflow: hidden;
}
