@import '../../style/less/index';

.Dashboard {
  min-width: 100vw;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: #ffffff;
  overflow: hidden;
}
.Panel {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  gap: 1.5rem;
}
.svg-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 85%;
  background-image: url('../../assets/background-shape.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  pointer-events: none;
  object-fit: cover;
  z-index: 0;
}
.LeftPanel {
  display: flex;
  flex-direction: column;
  height: 85%;
  gap: 1.5rem;
}
.RightPanel {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 100%;
}
.ant-picker-calendar * .ant-picker-cell {
  text-align: center !important;
  vertical-align: middle !important;
}

.ant-picker-calendar * .ant-picker-cell-inner {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 100% !important;
}

.ant-picker-calendar .ant-picker-calendar-header {
  justify-content: center;
}

.ant-picker-calendar .ant-picker-calendar-header th,
.ant-picker-calendar .ant-picker-content th {
  text-align: center !important;
  vertical-align: middle !important;
}

.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  border: 1px solid @red-font !important;
}

.ant-radio-button-wrapper-checked {
  color: @red-font !important;
  border: 1px solid @red-font !important;
}

.ant-picker-cell:not(.ant-picker-cell-selected):hover .ant-picker-cell-inner {
  background: @red-background !important;
  color: black !important;
  .ant-picker-calendar-date-value {
    background: transparent !important;
  }
}

.ant-picker-cell-selected .ant-picker-cell-inner {
  background-color: @red-font !important;
  color: white;
}

.ant-select:hover {
  border: 1px solid @red-font !important;
}

.ant-select:hover > * {
  border: none !important;
}

.fc-toolbar-title {
  position: relative !important;
}
.fc-myCustomButton-button {
  position: relative !important;
}

.fc-today-button {
  position: relative !important;
}
