@import '../../style/less/index';

.modal-settings {
  width: 100%;
  height: 70vh;
  display: flex;
  align-self: stretch;
  position: relative;
  flex-direction: row;

  .media-breakpoint-down(@md,
  {
    flex-grow: 1;
  });

  .ant-menu-item,
  .ant-dropdown-menu-item,
  .ant-list-item {
    width: auto !important;
    margin-left: 24px !important;
    text-align: left !important;
    padding-left: 24px !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }
}
.settingsTitle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 12px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 0;
  gap: 0;
}
.sider-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 1.5rem 0;
  gap: 0;
  width: 100%;
}
.selected-setting {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  width: auto;
  flex-grow: 1;
  overflow: hidden;
  background: white;
}
.ant-menu-inline {
  border-right: none !important;
}
.ant-menu-submenu-title {
  margin-bottom: 0 !important;
}
.SearchInput {
  width: 100%;
  padding: 12px 12px 0 12px;
}
.defaultRender {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  padding: 1rem;
  font-size: large;
  img {
    width: 40%;
  }
}
.site-title {
  padding-bottom: 2rem;
}
.site-root {
  padding: 1.5rem;
}
.site-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}
