@import '../../../style/less/utils/_variables';

.styled-button-icon {
  padding: 0 !important;
  background: transparent !important;
  border: none !important;
  font-size: x-large !important;
}

.styled-button-warning {
  background-color: @orange-900 !important;
  border-color: @orange-900 !important;
  color: @white !important;

  &:hover,
  &:focus {
    background-color: @warning-hover !important;
    border-color: @warning-hover !important;
    color: @white !important;
  }
}

.styled-button-success {
  background-color: @success-color !important;
  border-color: @success-color !important;
  color: @white !important;

  &:hover,
  &:focus {
    background-color: @success-hover !important;
    border-color: @success-hover !important;
    color: @white !important;
  }
}

.styled-button-no-border {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
  font-size: large;
  &:hover {
    color: @red-700 !important;
  }
}

.styled-button-black-theme {
  white-space: nowrap !important;
  min-width: 80px !important;
  &:hover {
    border-color: @grey-700 !important;
    color: black !important;
  }
}

.styled-button-black-theme-active {
  white-space: nowrap !important;
  min-width: 80px !important;
  background-color: black !important;
  color: white !important;
  border-color: black !important;
  &:hover {
    background-color: @dimgray !important;
    border-color: @dimgray !important;
  }
}

.styled-button-default-active {
  background: @btn-active-blue;
  border-color: @btn-active-blue;
  color: white;
  &:hover {
    background: @btn-active-blue !important;
    border-color: @btn-active-blue !important;
    color: white !important;
  }
}
