@import '../../../style/less/index';

.styled-button-icon {
  padding: 0 !important;
  background: transparent !important;
  border: none !important;
  font-size: x-large !important;
}

.styled-button-warning {
  background-color: #faad14 !important;
  border-color: #faad14 !important;
  color: #fff !important;
}
.styled-button-warning:hover,
.styled-button-warning:focus {
  background-color: #ffc53d !important;
  border-color: #ffc53d !important;
  color: #fff !important;
}

.styled-button-success {
  background-color: #52c41a !important;
  border-color: #52c41a !important;
  color: #fff !important;
}
.styled-button-success:hover,
.styled-button-success:focus {
  background-color: #73d13d !important;
  border-color: #73d13d !important;
  color: #fff !important;
}

.styled-button-no-border {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
  font-size: large;
  &:hover {
    color: red !important;
  }
}

.styled-button-black-theme {
  white-space: nowrap !important;
  min-width: 80px !important;
  &:hover {
    border-color: gray !important;
    color: black !important;
  }
}

.styled-button-black-theme-active {
  white-space: nowrap !important;
  min-width: 80px !important;
  background-color: black !important;
  color: white !important;
  border-color: black !important;
}

.styled-button-default-active {
  background: #1f608f;
  border-color: #1f608f;
  color: white;
  &:hover {
    background: #1f608f !important;
    border-color: #1f608f !important;
    color: white !important;
  }
}
