@import '../../../style/less/index';

.language-selector {
  width: 150px;
}
.language-item {
  display: flex;
  align-items: center;
}
.language-flag-small {
  width: 20px;
  height: 15px;
  margin-right: 8px;
}
.language-flag {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}
