@import '../../../style/less/utils/_variables';

.language-selector {
  width: 150px;
}
.language-item {
  display: flex;
  align-items: center;
}
.language-flag-small {
  width: 20px;
  height: 15px;
  margin-right: 8px;
}
.language-flag {
  .flex-center();
  vertical-align: middle;
}
