@import '../../style/less/index';

.ServiceSelectorHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}
.ServiceSelectorButtons {
  display: flex;
  gap: 0.5rem;
}
