@import '../../style/less/index';

.calendar-root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
}
.calendar-title {
  margin: 0 !important;
}
.fc-timegrid-axis-cushion {
  font-size: 15px;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.fc-list-event {
  cursor: pointer;
}
.fullcalendar-wrapper {
  flex: 1;
  padding-bottom: 1rem;
}