@import '../../../../style/less/utils/_variables';

.right {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.ant-picker-cell {
  text-align: center;
}
th {
  text-align: center;
}
.your-info {
  .flex-column();
  gap: 1.25rem;
}
.column-layout {
  .flex-column();
}
