@import '../../../../style/less/utils/_variables';

.right {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.procedure-select {
  .ant-select-selector {
    width: 400px !important;
  }
}
.site-select {
  .ant-select-selector {
    width: 175px !important;
  }
}
.ant-picker-cell {
  text-align: center;
}
th {
  text-align: center;
}
.your-info {
  .flex-column();
  gap: 1.25rem;
}
.column-layout {
  .flex-column();
}
