/* Reset:
  ========================================================================== */
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0;
}
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
html,
body {
  box-sizing: border-box;
  font-size: 16px;
  background-color: #F5F5F5;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
:focus {
  outline: 0;
}
img,
audio,
video {
  max-width: 100%;
  height: auto;
}
iframe {
  border: 0;
}
textarea {
  resize: none;
  /*remove the resize handle on the bottom right*/
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
input,
textarea,
select,
button {
  outline: none;
  border: none;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #000000;
  transition: background-color 5000s ease-in-out 0s;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
  text-align: left;
}
/* Responsive media queries:
 ========================================================================== */
@font-face {
  font-family: "Lato700";
  /*Can be any text*/
  src: local("Inter-Bold"), url("/public/fonts/Lato/Lato-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Lato400";
  /*Can be any text*/
  src: local("Inter-Regular"), url("/public/fonts/Lato/Lato-Regular.ttf") format("truetype");
}
body {
  width: 100vw;
  height: 100vh;
}
body * {
  font-family: Lato400, sans-serif;
}
.modalPatienProfile {
  width: 100%;
  display: flex;
  padding: 24px 24px 0 24px;
  flex-direction: column;
  flex: 1 0 0;
}
@media screen and (max-width: calc(768px - 1px)) {
  .modalPatienProfile {
    padding: 12px 12px 0 12px;
  }
}
.modalPatienProfile__innerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  padding-bottom: 24px;
}
@media screen and (max-width: calc(768px - 1px)) {
  .modalPatienProfile__innerContainer {
    padding-bottom: 12px;
  }
}
.modalPatienProfile__shortInfo {
  width: 100%;
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #dce7f2;
}
@media screen and (max-width: calc(576px - 1px)) {
  .modalPatienProfile__shortInfo {
    flex-direction: column;
  }
}
.modalPatienProfile__shortInfo__leftBlock {
  display: flex;
  width: 50%;
  max-width: 340px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  border-right: 1px solid #dce7f2;
}
@media screen and (max-width: calc(576px - 1px)) {
  .modalPatienProfile__shortInfo__leftBlock {
    width: 100%;
    max-width: 100%;
    border-right: none;
    border-bottom: 1px solid #dce7f2;
  }
}
.modalPatienProfile__shortInfo__intro {
  display: flex;
  padding: 12px 18px;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-bottom: 1px solid #dce7f2;
}
@media screen and (max-width: calc(576px - 1px)) {
  .modalPatienProfile__shortInfo__intro {
    border-bottom: 1px solid #dce7f2;
  }
}
.modalPatienProfile__shortInfo__intro__photo,
.modalPatienProfile__shortInfo__intro__userAvatarPlaceholder {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}
.modalPatienProfile__shortInfo__intro__photo img,
.modalPatienProfile__shortInfo__intro__userAvatarPlaceholder img {
  width: 100%;
  border-radius: 50%;
}
.modalPatienProfile__shortInfo__intro__userAvatarPlaceholder {
  background-color: #8da6bf;
  border-radius: 50%;
}
.modalPatienProfile__shortInfo__intro__userAvatarPlaceholder svg {
  width: 24px;
  height: 24px;
}
.modalPatienProfile__shortInfo__intro__userAvatarPlaceholder svg path {
  fill: #fcfcfd;
}
@media screen and (max-width: calc(768px - 1px)) {
  .modalPatienProfile__shortInfo__intro__userAvatarPlaceholder svg {
    width: 20px;
    height: 20px;
  }
}
.modalPatienProfile__shortInfo__intro h3 {
  color: #303443;
  font-family: Lato700, sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}
.modalPatienProfile__shortInfo__contactDetails {
  display: flex;
  padding: 0 0 12px 18px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}
.modalPatienProfile__shortInfo__contactDetails__itemsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}
.modalPatienProfile__shortInfo__contactDetails__item {
  display: flex;
  align-items: center;
  gap: 8px;
}
.modalPatienProfile__shortInfo__contactDetails__item svg {
  width: 16px;
  height: 16px;
}
.modalPatienProfile__shortInfo__contactDetails__item svg path {
  fill: #3d87c5;
}
.modalPatienProfile__shortInfo__contactDetails__item p {
  color: #6a6d78;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}
.modalPatienProfile__shortInfo__rightBlock {
  display: flex;
  padding: 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
  align-self: stretch;
}
.modalPatienProfile__shortInfo__overview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}
.modalPatienProfile__shortInfo__overview__itemsWrap {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  flex-wrap: wrap;
}
.modalPatienProfile__shortInfo__overview__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}
.modalPatienProfile__shortInfo__overview__item h5 {
  color: #9ca8b2;
  text-align: justify;
  font-size: 13px;
  font-style: normal;
  line-height: normal;
}
.modalPatienProfile__shortInfo__overview__item p {
  color: #303443;
  text-align: justify;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}
.modalPatienProfile__shortInfo__overview__item__withChildren {
  display: flex;
  align-items: flex-start;
  gap: 4px;
}
.modalPatienProfile h4 {
  color: #303443;
  font-family: Lato700, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
}
.modalPatienProfile h4.consultationsHeading {
  width: 100%;
  background-color: #eef6fe;
  padding: 4px;
}
/*# sourceMappingURL=index.css.map */