@import '../../../../style/less/index';

.right {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.procedure-select {
  .ant-select-selector {
    width: 450px !important;
  }
}
.ant-picker-cell {
  text-align: center;
}
th {
  text-align: center;
}
.your-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
