@import '../../../style/less/utils/_variables';

.modal-event {
  display: flex;
  width: 100%;
  padding: 1rem;

  .ant-spin-nested-loading {
    width: 100%;
  }
}
.modal-event-display {
  .flex-column();
  gap: 0.5rem;
  width: 100%;
}
