@font-face {
  font-family: 'Lato700'; /*Can be any text*/
  src:
    local('Inter-Bold'),
    url('/fonts/Lato/Lato-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato400'; /*Can be any text*/
  src:
    local('Inter-Regular'),
    url('/fonts/Lato/Lato-Regular.ttf') format('truetype');
}
