@import '../../style/less/utils/_variables';

.modal-schedule {
  width: 100%;
  height: 700px;
  .flex-column();
  align-self: stretch;
  position: relative;
  overflow: hidden;

  .media-breakpoint-down(@md,
    {
      flex-grow: 1;
    });
}
.ant-select-schedule {
  .flex-column();
  font-size: small;
  font-weight: 700;
  padding: 1.5rem 1.5rem 0 1.5rem;
}
.antTable {
  width: 100%;
  height: 100%;
}
.margin-top {
  margin-top: 16px;
}
