@import '../../style/less/utils/_variables';

.leftside-selector {
  border: 1px solid @border-default;
  z-index: 1;
  background: @white;
  overflow: auto;
  .flex-column();
  min-height: 100px;
}
.leftside-selector-header {
  .flex-between();
  gap: 4px;
  padding: 8px 16px;
}
.leftside-selector-content {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 16px;
  overflow: auto;
}
