@import '../../style/less/index';

.leftside-selector {
  width: 400px;
  border: 1px solid #d9d9d9;
  z-index: 1;
  background: #ffffff;
  flex: 1;
  overflow: auto;
}
.leftside-selector-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  padding: 16px;
}
.leftside-selector-content {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 16px;
  max-height: 60%;
  overflow: auto;
}
