@import '../../../style/less/index';

.modalRule {
  width: 100%;
  height: 75vh;
  display: flex;
  align-self: stretch;
  position: relative;
  flex-direction: column;
  padding: 12px 24px 24px 24px;
  overflow: auto;

  .media-breakpoint-down(@md,
    {
      flex-grow: 1;
    });
}
.selectors {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.antSelect {
  display: flex;
  position: relative;
  flex-direction: column;
  font-size: small;
  font-weight: 700;
}
.ant-form-item-explain-error {
  position: absolute;
}
.submitButton {
  display: flex;
  justify-content: flex-end;
}
.actionButtons {
  display: flex;
  flex-direction: column;
  width: 100%;
  > * {
    width: 100%;
  }
  .ant-btn {
    width: 100%;
  }
}
.custom-table .ant-table-tbody .ant-table-cell {
  padding: 8px;
}
.rrule-repeat {
  align-items: baseline;
}
.rrule-start {
  display: flex;
  align-items: baseline;
  width: 100%;
}
