@import 'utils/_theme';
@import 'utils/_reset';
@import 'utils/_responsive-media-queries';
@import 'utils/_fonts';
@import 'utils/_appointment-summary';

body {
  width: 100vw;
  height: 100vh;

  * {
    font-family: @font-400;
  }
}

/* Select dropdown overrides
   ========================================================================== */

.ant-select-dropdown .ant-select-item-option-content {
  white-space: normal !important;
  line-height: 1.4;
}

.ant-select-dropdown .ant-select-item-option {
  border-bottom: 1px solid @grey-50;
}

.ant-select-dropdown .ant-select-item-option:last-child {
  border-bottom: none;
}
